.task {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid #f0f0f0;
  position: relative;
  
  &__check {
    margin-right: 20px;

    &--hide {
      opacity: 0;
      margin-right: 20px;
    }
  }

  &__name {
    width: 100%;
    word-wrap: break-word;
    text-decoration: underline;
    font-weight: 700;
  }

  &__description {
    width: 100%;
    word-wrap: break-word;
  }

  &__group {
    width: 20%;
  }

  &__close {
    position: absolute;
    right: -30px;
    top: 0px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    visibility: hidden;   

    &:hover {
      opacity: 1;
    }

    &:before,
    &:after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 33px;
      width: 2px;
      background-color: #333;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  &:hover &__close {
    visibility: visible;
  }

  

  
}