.task-list {
  width: 1000px;
  font-size: 14px;
  position: relative;  

  &__header {
    margin: 10px 0;
    font-weight: 500px;
    display: flex;
    width: 100%;

    &--bold {
      font-weight: 700;
    }

    &--bold-right {
      font-weight: 700;
      width: 20%;
    }
  }  
}