.app-root {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.to-do-app{
  position: relative;
}

.caption {
  margin: 10px 0;
  font-weight: 700px;
  font-size: 25px;
}

